* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	--clr-white: rgb(255, 255, 255);
	--clr-main: rgb(232, 75, 156);
}

a {
	color: inherit;
	text-decoration: none;
}
